body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.container > div {
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sort-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #1db954;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #1ed760;
}

.logo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.search {
  width: calc(100% - 47px);
  padding: 10px;
  border: 1px solid #333;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #121212;
  color: #fff;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}

.search::placeholder {
  color: #666;
}

.filter-dropdown {
  padding: 9px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1db954;
  color: #fff;
}

.addedButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333; 
  color: #fff;
  cursor: not-allowed; 
}

.addedButton:hover {
  background-color: #555; 
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
